<div class="modal-header">
  <div class="btn-fechar-modal-div">
    <span></span>
    <button type="button" class="btn-fechar-modal">&times;</button>
  </div>
  <h2 class="modal-title">Avaliar Observação</h2>
</div>

<div class="modal-body">
  <h4>Imagens:</h4>
  <div class="medias">
  {% for media in observacao.medias.all %}
    <div class="media-wrapper media-item" data-id="{{ media.id }}">
      <button type="button" class="btn-delete-image" data-image-id="{{ media.id }}">×</button>
      {% if media.is_image %}
        <img src="{{ media.files.url }}" alt="{{ media.name }}">
      {% elif media.is_video %}
        <video controls>
          <source src="{{ media.files.url }}" type="video/mp4">
          Seu navegador não suporta vídeos.
        </video>
      {% else %}
        <p>Tipo de mídia não suportado.</p>
      {% endif %}
    </div>
  {% empty %}
    <p>Sem mídias.</p>
  {% endfor %}
</div>
  <form id="avaliar-form" class="avaliar-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <p>
      <label for="id_family"><strong>Família:</strong></label>
      {{ form.family }}
    </p>

    <p>
      <label for="id_genus"><strong>Gênero:</strong></label>
      {{ form.genus }}
    </p>

    <p>
      <label for="id_species"><strong>Espécie:</strong></label>
      {{ form.species }}
    </p>

    <p>
      <label for="id_latitude"><strong>Latitude:</strong></label>
      {{ form.latitude }}
    </p>

    <p>
      <label for="id_longitude"><strong>Longitude:</strong></label>
      {{ form.longitude }}
    </p>

    <p>
      <label for="id_notes"><strong>Notas da observação:</strong></label>
      {{ form.notes }}
    </p>

    <p>
      <label for="id_habitat"><strong>Informações sobre a espécie:</strong></label>
      {{ form.habitat }}
    </p>

    <label><strong>Localização:</strong></label>
    <p>{{ observacao.localization.city_name }} - {{ observacao.localization.state_name }}</p>
    <input type="hidden" name="localization" value="{{ observacao.localization.id }}">

    <div class="buttons-div">
      <button type="submit" name="aprovar" class="aprove-btn" id="avaliar-form-btn">Aprovar</button>
      <button type="button" name="rejeitar" class="btn-rejeitar reject-btn" data-id="{{ observacao.id }}">Rejeitar</button>
      <button type="button" class="fechar-button close-btn">Fechar</button>
    </div>
  </form>
</div>