<div class="modal-header">
  <h5 class="modal-title">Avaliar Observação</h5>
  <button type="button" class="btn-fechar-modal">&times;</button>
</div>

<div class="modal-body">
  <p><strong>Local:</strong> {{ observacao.localization.city_name }}, {{ observacao.localization.state_name }}</p>

  <h4>Imagens:</h4>
  {% for media in observacao.medias.all %}
    {% if media.is_image %}
      <img src="{{ media.files.url }}" width="100px" height="100px">
    {% elif media.is_video %}
      <video width="320" height="240" controls>
        <source src="{{ media.files.url }}" type="video/mp4">
        Seu navegador não suporta vídeos.
      </video>
    {% else %}
      <p>Tipo de mídia não suportado.</p>
    {% endif %}
  {% empty %}
    <p>Sem mídias.</p>
  {% endfor %}

  <form id="avaliar-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" name="aprovar">Aprovar</button>
    <button type="button" name="rejeitar" class="btn-rejeitar" data-id="{{ observacao.id }}">Rejeitar</button>
    <button type="button" class="btn-fechar-modal">Fechar</button>
  </form>
</div>