{% load static %}

{% load user_tags %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Plataforma Cânions do Sul{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar">
                <a href="{% url 'home' %}" class="logo"><img class="nav-branding" src="{% static 'assets/logo.png' %}"
                        alt="Logo" /></a>
                <ul class="nav-menu">
                    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="https://canionsdosul.org/conheca/" target="_blank" rel="noopener noreferrer"  class="nav-link">Sobre</a></li>
                    <li class="nav-item"><a href="https://canionsdosul.org/contato/" target="_blank" rel="noopener noreferrer"  class="nav-link">Contato</a></li>
                    {% if not user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'registrar' %}" class="nav-link">Registrar-se</a></li>
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
                    {% endif %}
                    {% if user.is_authenticated and user.role == "admin" %}
                    <li class="nav-item"><a href="{% url 'admin_panel' %}" class="nav-link">Painel administrador</a>
                    </li>
                    {% endif %}
                    <li class="nav-item"><a href="{% url 'criar_observacao' %}" class="nav-link">Relatar observação</a>
                    </li>
                    <li class="nav-item"><a href="{% url 'minhas_observacoes' %}" class="nav-link">Minhas
                            observações</a></li>
                    <li class="nav-item"><a href="{% url 'observacoes' %}" class="nav-link">Todas observações</a></li>
                    {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="logout-btn">Logout</button>
                    </form>
                    {% endif %}
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </div>
    </header>

    {% if request.path != '/' %}
    <nav class="breadcrumb">
        <a href="{% url 'home' %}">Home</a>
        {% for crumb in breadcrumbs %}
        &gt;
        {% if not forloop.last %}
        <a href="{{ crumb.url }}">{{ crumb.name }}</a>
        {% else %}
        <span>{{ crumb.name }}</span>
        {% endif %}
        {% endfor %}
    </nav>
    {% endif %}

    <section class="main-content">
        {% block content %}
        <!-- O conteúdo de cada página será inserido aqui -->
        {% endblock %}
    </section>
    <script src="{% static 'scripts/script.js' %}"></script>
    {% block script %}{% endblock %}
</body>

</html>