{% extends 'canionsDoSul_app/base.html' %}
{% load static %}
{% load user_tags %}

{% block title %}Cadastrar por Cidade{% endblock %}

{% block head %}
<!-- <link rel="stylesheet" href="{% static 'css/form.css' %}"> -->
<link rel="stylesheet" href="{% static 'canionsDoSul_app/css/city.css' %}">
{% endblock %}

{% block content %}
<h1>Cadastro por Cidade</h1>

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}

<div class="instructions-div">
  <p>Preencha os campos com os dados correspondentes</p>
</div>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <label for="id_city_name">Cidade:</label>
  <input type="text" name="city_name" id="id_city_name" class="form-control" placeholder="Torres">

  <label for="id_state_name">Estado:</label>
  <input type="text" name="state_name" id="id_state_name" class="form-control" placeholder="Rio Grande do Sul">

  <label for="id_country_name">País:</label>
    <div class="country-text-div">
      <p>Será preenchido automaticamente após a escolha da cidade e estado</p>
    </div>
  <input readonly type="text" name="country_name" id="id_country_name" class="form-control" placeholder="Será preenchido automaticamente após a escolha da cidade e estado">

  <div id="location-status"></div>

  {{ observation_form.latitude }}
  {{ observation_form.longitude }}

  {{ media_form.as_p }}

  <div class="form-buttons">
    <button type="submit" class="submit-button">Cadastrar</button>
    <a class="back-a" href="{% url 'criar_observacao' %}">Voltar</a>
  </div>
</form>



{% endblock %}

{% block script %}
<script src="{% static 'canionsDoSul_app/scripts/cidade.js' %}"></script>
{% endblock %}