{% extends 'canionsDoSul_app/base.html' %}
{% load static %}

{% load user_tags %}

{% block title %}Criar observação{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'canionsDoSul_app/css/create_observation.css' %}">
{% endblock %}

{% block content %}
  <h1>Relatar observação</h1>
  <div class="observation-choice">
    <p>Identifique o local onde você fez suas observações.</p>
    <div class="observation">
      <a href="{% url 'latlng' %}" class="btn">Latitude/Longitude (Mapa interativo)</a>
      <p>Crie uma nova observação usando latitude e longitude.</p>
    </div>
    <div class="observation">
      <a href="{% url 'cidade' %}" class="btn">Cidade/Estado</a>
      <p>Se você estava observando em uma área muito grande (por exemplo, um estado ou município inteiro), selecione esta opção. Por favor, considere usar localizações mais precisas ao reportar na plataforma, para que suas observações sejam mais valiosas para a análise</p>
    </div>
  </div>
{% endblock %}