{% extends 'canionsDoSul_app/base.html' %}
{% block title %}Detalhe da Observação{% endblock %}

{% block content %}
  <h1>{{ observation.species.popular_name }}</h1>
  <p><strong>Nome científico:</strong> {{ observation.species.scientific_name }}</p>
  <p><strong>Usuário:</strong> {{ observation.user.username }}</p>
  <p><strong>Data:</strong> {{ observation.created_at|date:"d/m/Y H:i" }}</p>
  <p><strong>Localização:</strong> Lat {{ observation.latitude }}, Long {{ observation.longitude }}</p>
  <p><strong>Informações:</strong> {{ observation.habitat }}</p>

  {% for media in observation.medias.all %}
    {% if media.is_image %}
      <img src="{{ media.files.url }}" alt="{{ media.name }}">
    {% elif media.is_video %}
      <video controls>
        <source src="{{ media.files.url }}" type="video/mp4">
        Seu navegador não suporta o vídeo.
      </video>
    {% endif %}
  {% endfor %}

  <a href="{% url 'observacoes' %}">← Voltar</a>
{% endblock %}