{% extends "canionsDoSul_app/base.html" %}
{% load static %}


{% block title %}Home{% endblock %}

{% block content %}
    <h1>Bem-vindo à Plataforma</h1>
    <ul>
        {% if not user.is_authenticated %}
        <li><a href="{% url 'registrar' %}">Registrar-se</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
        {% if user.is_authenticated and user.role == "admin" %}
        <li><a href="{% url 'cadastrar' %}">Cadastrar</a></li>
        {% endif %}
        <li><a href="{% url 'criar_observacao' %}">Cadastrar Observação</a></li>
        <li><a href="{% url 'observacoes' %}">Últimas observações</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'minhas_observacoes' %}">Minhas observações</a></li>
        {% endif %}
        {% if user.is_authenticated and is_specialist %}
        <li><a href="{% url 'lista_observacoes_pendentes' %}">Aprovar Observações</a></li>
        {% endif %}
        {% if user.is_authenticated and user.role == "admin" %}
    <li><a href="{% url 'promover_usuario' %}">Promover Usuário</a></li>
{% endif %}
    </ul>
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% endif %}
{% endblock %}