{% extends 'canionsDoSul_app/base.html' %}
{% load static %}
{% load user_tags %}

{% block title %}Cadastrar por Latitude/Longitude{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
<link rel="stylesheet" href="{% static 'css/latlng.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/form.css' %}"> -->
{% endblock %}

{% block content %}
<h1>Cadastro com Mapa</h1>

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}

<div class="instructions-div">
  <p>Selecione um ponto no Mapa para preencher automaticamente os dados</p>
</div>

<div id="map"></div>

<div class="instructions-div">
  <p>Não conseguiu encontrar a cidade no Mapa, mas sabe a <strong>latitude</strong> e <strong>longitude</strong>? Então preencha <strong>apenas</strong> a <strong>latitude</strong> e <strong>longitude</strong> manualmente
    nos campos abaixo e então clique no botão de <strong>"Buscar Localização"</strong> para preencher automaticamente o restante dos dados</p>
  <p>Se não souber a <strong>latitude</strong> e <strong>longitude</strong>, retorne <strong>a página anterior</strong> e selecione a opção de <strong>"Cadastrar por Cidade/Estado"</strong></p>
</div>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ observation_form.as_p }}
  <label for="id_city_name">Cidade:</label>
  <input type="text" name="city_name" id="id_city_name" class="form-control">

  <label for="id_state_name">Estado:</label>
  <input type="text" name="state_name" id="id_state_name" class="form-control">

  <label for="id_country_name">País:</label>
  <input type="text" name="country_name" id="id_country_name" class="form-control">

  {{ media_form.as_p }}

  <div class="form-buttons">
    <button type="button" id="btn_buscar_localizacao">Buscar Localização</button>
    <button type="submit" id="submit-button">Cadastrar</button>
    <a href="{% url 'criar_observacao' %}" class="go-back-btn">Voltar</a>
  </div>
</form>

<!-- <div class="go-back-div">
  <a href="{% url 'criar_observacao' %}" class="go-back-btn">Voltar</a>
</div> -->
{% endblock %}

{% block script %}
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
<script src="{% static 'scripts/map.js' %}"></script>
{% endblock %}