{% extends 'canionsDoSul_app/base.html' %}

{% load static %}

{% load user_tags %}

{% block title %}Observações pendentes{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'canionsDoSul_app/css/aproval_modal.css' %}">
{% endblock %}

{% block content %}
<h1>Observações Pendentes</h1>
<div class="observation-list-div">
  {% for obs in observacoes %}
    <div class="observation-list-item">
      {{ obs.localization.city_name }}, {{ obs.localization.state_name }}, {{ obs.localization.country_name }}
      <button class="btn-avaliar" data-id="{{ obs.id }}">Avaliar</button>
    </div>
  {% endfor %}
</div>

  <!-- Modal container -->
  <div id="modal-container">
    <div id="modal-content"></div>
  </div>
</div>

<script src="{% static 'canionsDoSul_app/scripts/aproval_modal.js' %}"></script>
<script src="{% static 'canionsDoSul_app/scripts/modal-selects.js' %}"></script>
{% endblock %}