{% extends 'canionsDoSul_app/base.html' %}

{% load static %}

{% load user_tags %}

{% block title %}Observações pendentes{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/aproval_modal.css' %}">
{% endblock %}

{% block content %}
<h2>Observações Pendentes</h2>
<ul>
  {% for obs in observacoes %}
    <li>
      {{ obs.localization.city_name }}, {{ obs.localization.state_name }} —
      <button class="btn-avaliar" data-id="{{ obs.id }}">Avaliar</button>
    </li>
  {% endfor %}
</ul>

  <!-- Modal container -->
  <div id="modal-container">
    <div id="modal-content"></div>
  </div>
</div>

<script src="{% static 'scripts/aproval_modal.js' %}"></script>
<script src="{% static 'scripts/modal-selects.js' %}"></script>
{% endblock %}