{% extends 'canionsDoSul_app/base.html' %}

{% load static %}

{% block title %}Login{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
  <h2>Faça seu login</h2>
  <form method="post" class="form-control">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.username.errors }}
    {{ form.password.label_tag }}
    {{ form.password }}
    {{ form.password.errors }}
    <div class="div-btn">
      <button type="submit" class="submit-btn">Entrar</button>
    </div>
  </form>
  <p class="register-link">Não possui uma conta? <a href="{% url 'registrar' %}"> Cadastre-se aqui!</a></p>
{% endblock %}