{% extends 'canionsDoSul_app/base.html' %}
{% load static %}
{% load user_tags %}

{% block title %}Minhas observações{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'canionsDoSul_app/css/cards.css' %}">
{% endblock %}

{% block content %}
<h1 class="my-observation-page-title">Minhas Observações | {{ page_obj.paginator.count }} Registros encontrados</h1>

<!-- Filtros -->
<div class="filter-container">
  <form id="filterForm" method="get" class="filter-form">
    <div class="search-wrapper">
      <input autocomplete="off" type="text" name="q" placeholder="Pesquisar por nome da espécie..." value="{{ search_query }}">
      <button type="submit" class="search-btn" aria-label="Buscar">
        <i class="fas fa-search"></i> <!-- Ícone da lupa -->
      </button>
    </div>

    <select name="sort" id="sortSelect">
      <option value="recentes" {% if sort_option == 'recentes' %}selected{% endif %}>Mais recentes</option>
      <option value="antigos" {% if sort_option == 'antigos' %}selected{% endif %}>Mais antigos</option>
      <option value="alfabetica" {% if sort_option == 'alfabetica' %}selected{% endif %}>Ordem alfabética</option>
    </select>
  </form>
</div>


<div class="card-section">
  {% for obs in page_obj %}
  <a href="{% url 'detalhes_minhas_observacoes' obs.id %}" class="observation-card-link">
    <div class="observation-card">
      {% with obs.medias.all|first as media %}
      {% if media %}
      {% if media.is_image %}
      <img src="{{ media.files.url }}" alt="{{ media.name }}" class="observation-image">
      {% elif media.is_video %}
      <div class="observation-video-placeholder">
        <img src="{% static 'canionsDoSul_app/assets/video-placeholder.png' %}" alt="Vídeo" class="observation-video-icon">
      </div>
      {% endif %}
      {% else %}
      <img src="{% static 'canionsDoSul_app/assets/no-image.png' %}" alt="Sem mídia" class="observation-image">
      {% endif %}
      {% endwith %}

      <div class="observation-info">
        <div class="observation-info-titles">
          <h3 class="observation-info-title">{{ obs.species.popular_name }}</h3>
          <p class="observation-info-title-small">{{ obs.species.scientific_name }}</p>
        </div>
        <p>Data: {{ obs.created_at|date:"d/m/Y" }}</p>
        <p>Foto por: {{ obs.user.username }}</p>
        <div class="ver-mais-fake-button">Ver mais</div>
      </div>
    </div>
  </a>
  {% empty %}
  <p>Nenhuma observação encontrada.</p>
  {% endfor %}
</div>

<!-- Paginação -->
<div class="pagination">
  {% if page_obj.has_previous %}
  <a href="?page=1">&laquo; Primeira</a>
  <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
  <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
  {% endif %}

  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
  <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
  <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
  {% endif %}
</div>

<!-- <div class="back-div">
  <a href="{% url 'home' %}" class="back-btn">Voltar</a>
</div> -->

<script src="{% static 'canionsDoSul_app/scripts/search-observations.js' %}"></script>
{% endblock %}