{% extends 'canionsDoSul_app/base.html' %}
{% block content %}
  <h2>Minhas Observações</h2>
  <a href="{% url 'criar_observacao' %}">+ Nova Observação</a>
  <table>
    <thead>
      <tr>
        <th>Familia</th>
        <th>Genero</th>
        <th>Espécie</th>
        <th>Nome popular</th>
        <th>Localização</th>
        <th>Status</th>
        <th>Data</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for obs in observations %}
      <tr>
        <td>{{ obs.species.genus.family.name }}</td>
        <td>{{ obs.species.genus.name }}</td>
        <td>{{ obs.species.scientific_name }}</td>
        <td>{{ obs.species.popular_name }}</td> 
        <td>{{ obs.localization.city_name }}, {{ obs.localization.state_name }}</td>
        <td>{{ obs.status }}</td>
        <td>{{ obs.created_at|date:"d/m/Y H:i" }}</td>
        <td>
          <a href="{% url 'editar_observacoes' obs.id %}">Editar</a>
          <a href="{% url 'deletar_observacoes' obs.id %}">Excluir</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">Nenhuma observação cadastrada.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'home' %}">Voltar</a>
{% endblock %}
