{% extends 'canionsDoSul_app/base.html' %}
{% load static %}

{% block title %}Minhas observações{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/cards.css' %}">
{% endblock %}

{% block content %}
  <h1 class="my-observation-page-title">Minhas Observações | {{ page_obj.paginator.count }} Registros encontrados</h1>

  <div class="card-section">
  {% for obs in page_obj %}
    <div class="observation-card">
      {% with obs.medias.all|first as media %}
        {% if media and media.image %}
          <img src="{{ media.image.url }}" alt="{{ media.name }}" class="observation-image">
        {% endif %}
      {% endwith %}
      <div class="observation-info">
        <div class="observation-info-titles">
          <h3 class="observation-info-title">{{ obs.species.popular_name }}</h3>
          <p class="observation-info-title-small">{{ obs.species.scientific_name }}</p>
        </div>
        <p>Data: {{ obs.created_at|date:"d/m/Y" }}</p>
        <p>Foto por: {{ obs.user.username }}</p>
      </div>
    </div>
  {% empty %}
    <p>Nenhuma observação encontrada.</p>
  {% endfor %}
</div>

<!-- Paginação -->
<div class="pagination">
  {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; Primeira</a>
    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
  {% endif %}

  <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
  {% endif %}
</div>
  <a href="{% url 'home' %}" class="back-btn">Voltar</a>
{% endblock %}
