<p><strong>Local:</strong> {{ observacao.localization.city_name }}, {{ observacao.localization.state_name }}</p>

<div>
  <h4>Imagens:</h4>
  {% for media in observacao.media_set.all %}
    <img src="{{ media.file.url }}" width="200px"/>
  {% empty %}
    <p>Sem imagens</p>
  {% endfor %}
</div>

<form id="form-avaliacao" method="post" action="{% url 'avaliar_observacao_modal' observacao.id %}">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" name="aprovar">Aprovar</button>
  <button type="submit" name="rejeitar">Rejeitar</button>
</form>