{% extends 'canionsDoSul_app/base.html' %}

{% load static %}

{% load user_tags %}

{% block title %}Promover Usuário{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/user_promotion.css' %}">
{% endblock %}

{% block content %}
<h1>Promover Usuário</h1>

<form method="post" class="form-control">
    {% csrf_token %}

    <!-- Campo de busca para filtrar o select -->
    <label for="user-search">Buscar usuário:</label>
    <input type="text" id="user-search" placeholder="Digite o nome do usuário ou papel..." autocomplete="off">

    <!-- Select com todos os usuários -->
    <select name="user_id" id="user" size="5" class="autocomplete-suggestions">
        {% for user in usuarios %}
             <option value="{{ user.id }}">{{ user.username }} ({{ user.role|translate_role }})</option>
        {% endfor %}
    </select>

    <!-- Cargo para promoção -->
    <div class="role-label-div">
        <label id="role-label" for="role">Promover <strong>usuário</strong> para:</label>
        <select name="role" id="role">
            <option value="specialist">Especialista</option>
            <option value="scientist">Cientista</option>
            <option value="default">Padrão</option>
        </select>
    </div>

    <div class="submit-btn-div">
        <button type="submit" class="submit-btn">Promover</button>
    </div>
</form>

<script src="{% static 'scripts/user_promotion.js' %}"></script>
{% endblock %}