* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* color: black; */
}

body {
    background-color: #F8FFFA;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container{
    width: 100%;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-div{
    width: 100%;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-div label, .form-div p{
    font-weight: 600;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}

input[type="text"]:focus {
    border-color: #3b82f6; /* azul suave */
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
}

.autocomplete-suggestions {
    /* position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000; */
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
}

.autocomplete-suggestions div {
    padding: 0.625rem 0.875rem;
    cursor: pointer;
    transition: background-color 0.2s;
    border-bottom: 0.063rem solid #ccc;
}

.autocomplete-suggestions div:hover {
    background-color: #f3f4f6;
}

#habitat{
    padding: 0.625rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    height: 12.5rem;
    /* max-height: 31.25rem; */
    overflow-y: auto;
}

#habitat:focus{
    border-color: #3b82f6 !important;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
    outline: none;
}

.char-count {
    font-size: 0.9rem;
    text-align: right;
    color: #666;
    margin-top: 4px;
    transition: color 0.2s ease-in-out;
}

.char-count.warning {
    color: #d9534f; /* vermelho suave */
}

.form-buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap:20px;
}

.form-buttons button, .form-buttons a{
    padding: 12px 20px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}

.form-buttons button{
    background-color: #3B7A57;
    
}

.form-buttons a{
    text-align: center;
    background-color: #6c757d;
    text-decoration: none;
}

#family-color{
    color: #3B7A57;;
}

#genus-color{
    color: #A47149;
}

#species-color{
    color:#3b82f6
}